<div id="create" class="container" ng-controller="createController as create">
  <div id="createStatus">
    <ul>
      <li class="createStatusIcons"><a id="createStatusIconsUpload" ng-click="create.setStatus('upload')">&nbsp;</a></li>
      <li class="createStatusIcons"><a id="createStatusIconsCrop" ng-click="create.setStatus('crop')">&nbsp;</a></li>
      <li class="createStatusIcons"><a id="createStatusIconsFilter" ng-click="create.setStatus('filter')">&nbsp;</a></li>
      <li class="createStatusIcons"><a id="createStatusIconsInfo" ng-click="create.setStatus('info')">&nbsp;</a></li>
      <li class="createStatusIcons"><a id="createStatusIconsPublish" ng-click="create.setStatus('publish')">&nbsp;</a></li>
    </ul>
      <div id="createStatusArrow" class="createStatusArrow" ng-class="create.data.status"><span>&nbsp;</span></div>
  </div>
  <div id="createCanvas">
    <div id="createCanvasUpload">
      <a id="createCanvasUploadClose" ng-click="create.resetInterface()" href="#" ng-show="create.data.isUploaded">&nbsp;</a>
      <div id="createCanvasUploadDrop" createtrip>
        <img id="createCanvasUploadImg" ng-src="{{create.data.image}}" ng-hide="create.isCanvas" placeholder="img/icons/create_placeholder.png" />
        <canvas id="createCanvasUploadCanvas" ng-show="create.isCanvas"></canvas>
      </div>
      <span>DRAG PHOTO HERE</span>
      <a id="createCanvasUploadBrowse" ng-click="create.browseImages()" ng-show="create.isSetStatus('upload')" href="#" title="Browse..">&nbsp;</a>
    </div>
  </div>

  <div id="createControls" ng-show="create.data.isUploaded">
    <div id="createControlsBack"><a ng-click="create.goToPreviousStatus()" href="#">&nbsp;</a></div>
    <div id="createControlsForward"><a ng-click="create.goToNextStatus()" href="#">&nbsp;</a></div>
  </div>

  <div id="createCrop" ng-show="create.isSetsStatus('crop')">
    <form class="form-signin">
      <label>inputWidth max: {{create.data.width}}</label>
      <input type="number" placeholder="0" required="required" ng-model= "create.crop.width">
      <label>inputHeight max: {{create.data.height}}</label>
      <input type="number" placeholder="0" ng-model="create.crop.height">
      <label>inputX</label>
      <input type="number" placeholder="0" ng-model="create.crop.x">
      <label>inputY</label>
      <input type="number" placeholder="0" ng-model="create.crop.y">
      <button ng-click="create.crop()">Crop!</button>
    </form>
  </div>

  <div id="createFilter" ng-show="create.isSetsStatus('filter')">
    <form>
      <button ng-click="create.applyFilter('Vintage')">Vintage</button>
      <button ng-click="create.applyFilter('Sin City')">Sin City</button>
    </form>
  </div>

  <div id="createInsert" ng-show="create.isSetsStatus('info')">
    <form class="form-signin">
      <label for="country">Country</label>
      <select type="text" ng-model="create.info.country" required="required">
        <option value="Italy">Italy</option>
        <option value="France">France</option>
      </select>
      <label for="month">Month</label>
      <select type="month" ng-model="create.info.month" required="required">
        <option value="January">January</option>
        <option value="February">February</option>
      </select>
      <label for="year">Year</label>
      <input type="number" min="1900" max="2100" placeholder="2014" required="required" ng-model= "create.info.year">
      <label for="hashtags">Hashtags (up to 5)</label>
      <input type="hashtags" placeholder="#" ng-model="create.info.hashtags">
    </form>
  </div>

  <div class="createDisplay" ng-show="create.isSetsStatus('publish')">
    <p>{{create.info.country}}</p>
    <p>{{create.info.month}} {{create.info.year}}</p>
    <p>{{create.info.hashtags}}</p>
    <form><button ng-click="create.publish()">Upload</button></form>
  </div>
</div>
