<main id="grid" class="container" ng-controller="gridController as grid">
  <div id="itemContainer" id="isotopeContainer" isotope-container ng-cloak>

    <div class="item {{photo.country}} {{photo.month}}" ng-repeat="photo in grid.photos track by $index" ng-controller="itemController as item" isotope-item>
      <div class="itemRow">
        <div class="itemCell itemDesc" data-country="{{photo.country}}" opt-kind ok-key="filter">
          <div class="itemInfo">
            <a href="#" class="country" ok-sel=".{{photo.country}}">{{photo.country}}</a>
            <a href="#" class="month" ok-sel=".{{photo.month}}">{{photo.month}}</a>
            <a href="#" class="year" ok-sel="*">{{photo.year}}</a>
          </div>
          <div class="itemAvatar"><a href="#"><img src="img/profile.jpg" /></a></div>
        </div>
      </div>
      <div class="itemRow">
        <div class="itemCell itemImg" style="width:{{photo.img[item.isSrc].width}}px; height:{{photo.img[item.isSrc].height}}px;">
          <img ng-src="{{photo.img[item.isSrc].src}}" alt="{{photo.id}}" title="{{item.isSrc}}" />
          <ul class="itemHashtags">
            <li><div>&nbsp;</div><a class="invisible" href="#">#mountain</a></li>
            <li><div>&nbsp;</div><a class="invisible" href="#">#sun</a></li>
            <li><div>&nbsp;</div><a class="invisible" href="#">#amazing</a></li>
            <li><div>&nbsp;</div><a class="invisible" href="#">#amazing</a></li>
            <li><div>&nbsp;</div><a class="invisible" href="#">#amazing</a></li>
          </ul>
          <ul class="itemInteraction">
            <li><a class="invisible itemInteractionLike" href="#"><span>&nbsp;</span></a></li>
            <li><a class="invisible itemInteractionShare" href="#"><span>&nbsp;</span></a></li>
            <li><a class="invisible itemInteractionComment" href="#"><span>&nbsp;</span></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="loading">&nbsp;</div>

  <mainfooter>
    <div>
      <a ng-click="grid.loadMore()">load more images...</a>
    </div>
  </mainfooter>

</main>