<div class="container" >
  <form class="form-signin" role="form" ng-controller="signUpController as signUpCtrl" ng-submit="signUpCtrl.addUser()" form-autofill-fix>
    <h2 class="form-signin-heading">Sign up</h2>
    <label for="email">Email</label>
    <input type="email" placeholder="" ng-model="signUpCtrl.user.email" required="required" autofocus>
    <label for="password">Password</label>
    <input type="password" placeholder="" ng-model="signUpCtrl.user.password" required="required">
    <button type="submit"><span>Sign up</span></button>
  </form>

  <form class="form-signin" role="form" ng-controller="signInController as signInCtrl" ng-submit="signInCtrl.signIn()" form-autofill-fix>
    <h2 class="form-signin-heading">Sign in</h2>
    <label for="email">Email</label>
    <input type="email" placeholder="" ng-model="signInCtrl.user.email" required="required">
    <label for="password">Password</label>
    <input type="password" placeholder="" ng-model="signInCtrl.user.password" required="required">
    <button type="submit"><span>Sign in</span></button>
  </form>
</div>